  <nav class="navbar navbar-inverse" role="navigation" >
    <ul class="nav navbar-nav">
        <li>
        
    </li>  
         <li class="active">
            <a routerLink="/signup">Student Registration</a>
        </li>
        <li>
            <a routerLink="/student-login">Student Login</a>
        </li>
    
        <li>
            <a routerLink="/bank-login">Bank/Admin Login</a>
        </li>

    </ul>
    </nav>
 <hr>
<router-outlet></router-outlet>
  <br>
  <br>
  <br>
  <br>
  <br>
  <br>
  <div class="container" style="background-image:url('./assets/stud-login.jpg');height:100%;width: 100%;background-repeat: no-repeat">
          
    <div class="row">
      <div class="col-md-3"></div>
     
      <div class="col-xs-6 col-sm-6 col-md-6 col-lg-6">
        <form #loginForm="ngForm" (ngSubmit)="SignIn(loginForm)">
           <div style="text-align: center">
       <legend>Login</legend>
      </div>
       <div class="form-group">
           <label for="email">Email</label>
           <input  type="text" class="form-control" id="email" name="email" placeholder="Enter Email" [(ngModel)]="email">
       </div>
   
       <div class="form-group">
           <label for="password">Password</label>
           <input  type="password" class="form-control" id="password"  name="password" placeholder="Enter Password Here" [(ngModel)]="password">
       </div>
       <span class="label label-danger">{{this.message}}</span>

        
       <button type="submit" class="btn btn-primary">Login</button> &nbsp;&nbsp;&nbsp;
         <a href="/signup"><span class="glyphicon glyphicon-user"></span>New User? SignUp</a>
            
           <span class="label label-danger">{{this.message}}</span>

      
        </form>
    </div>
    </div>
    </div>
  