<nav class="navbar navbar-inverse" role="navigation" >
        <ul class="nav navbar-nav">
            <li>
            
        </li>  
        <li class="active">
                <a routerLink="/loanform">Loan Application Form</a>
            </li>
            <li>
                    <a routerLink="/bank-list">Search banks & Apply for Loan</a>
                </li>
        
                <li>
                    <a routerLink="/app-status">Application Status</a>
                </li>  

            <ul class="nav navbar-nav navbar-right">
            <li><button (click)="onLogout()" style="margin-top: 8px;" class="btn btn-link">Logout</button></li>
            </ul>
            <img src="./assets/bank2.jpg" style="width: 100%;text-align: center" >

            <li>
                <a routerLink="/chenge-password">Change password</a>
            </li> 
        </ul>
        </nav>
     <hr>
     <div class="container" style="background-image:url('./assets/bank2.jpg');height:100%;width: 100%;background-repeat: no-repeat">
          
     </div>
    <router-outlet></router-outlet>
  