<nav class="navbar navbar-inverse" role="navigation" >
    <ul class="nav navbar-nav">
        <li>
        
    </li>  
         <li class="active">
            <a routerLink="/signup">Student Registration</a>
        </li>
        <li>
            <a routerLink="/student-login">Student Login</a>
        </li>
    
        <li>
            <a routerLink="/bank-login">Bank/Admin Login</a>
        </li>

    </ul>
    </nav>
    <p style="font-size: xx-large ;text-align: center">EDUCATIONAL LOAN MANAGEMENT SYSTEM  </p>
    <span style="color: crimson;text-rendering: auto">Easy way to go for loan here</span>
  <img src="./assets/home.jpg" style="width: 100%;text-align: center" >

<hr>
<router-outlet></router-outlet>